@page "/rules-engine"

<PageTitle>Rules engine</PageTitle>
<h1>Rules engine</h1>

<h2>TODO</h2>
<ul>
    <li>list all rules</li>
    <li>add a new rule</li>
    <li>edit an existing rule</li>
</ul>

@{
}

